*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/
*.env
.conda/
condaenv.*
.ipynb_checkpoints/
*.ipynb_convert/
*.nbconvert.ipynb
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
cover/
